body {
    background-color: rgb(114, 191, 241);
}

#logo {}

.navigation {
    background-color: rgb(29, 107, 158);
    display: flex;
    height: 100px;
}

.nav_link {
    color: aliceblue;
    text-decoration: none;
    flex-flow: row;
    flex-basis: 15%;
    justify-content: space-evenly;
    padding: 40px;
    text-align: center;
}

.nav_link:hover {
    background-color: rgb(114, 191, 241);
    color: rgb(16, 70, 105);
}

.hero {
    text-align: center;
    color: rgb(16, 70, 105);
}

.main {
    border: 1px solid rgb(16, 70, 105);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hero_img {
    height: 500px;
}

.image {
    width: 300px;
}