.box {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 40px;
    padding-left: 60px;
    padding-top: 60px;
    // grid-template-rows: ;
    .quote {
        text-align: center;
        padding: 10px;
        border: 1px solid rgb(65, 41, 71);
        border-radius: 15px;
        box-shadow: rgba(87, 71, 97, 0.788) 0px 7px 19px 0px;
    }
}

.headlineQ {
    color: white;
    text-align: center;
}