.links {
    ul {
        li {
            padding: 15px;
            a {
                display: block;
                text-decoration: none;
                color: rgb(45, 25, 46);
                font-size: 25px;
                font-weight: 500;
            }
            a:hover {
                transform: scale(1.2);
                transition: width 1s, height 1s, transform 1s;
            }
        }
    }
}

.headline {
    color: rgb(45, 25, 46);
    padding: 20px;
    text-align: center;
}